@{
    ViewData["Title"] = "Home Page";
}

	<div class="text-center">
		<h1 class="display-4">سلام</h1>
		<br />
		<h1 class="display-4">من علیرضا هستم  و خوشحالم که در حال یادگیری </h1>
		<h1><a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a></h1>
		<h1 class="display-4">هستم </h1>
	</div>
